@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 48, 48, 48;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

input,
select:active {
  @apply text-sm;
}

/* prevent iOS from zooming in on input focus */
@media screen and (max-width: 599px) {
  input,
  select:active {
    font-size: 16px;
  }
}
